<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<% if (error.length > 0) %>
<p style="color: red"><%= error %></p>
<% if (success.length > 0) %>
<p style="color: green"><%= success %></p>
<form action="/forgot-pass" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Send">
</form>
<a href="/login">Login</a>
</body>
</html>
