<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error.length > 0) %>
        <p style="color: red"><%= error %></p>

    <% for (const team of teamList) { %>
        <a href="/team/<%= team.id %>"><%= team.name %></a><br>
    <% } %>

    <a href="/profile">Back to profile</a> <br>
    <a href="/logout">Logout</a>
</body>
</html>