<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<% if (error.length > 0) %>
<p style="color: red"><%= error %></p>
<% if (success.length > 0) %>
<p style="color: green"><%= success %></p>
<form action="/reset-pass" method="post" id="form">
    <input type="password" name="pass" placeholder="New Password">
    <input type="submit" value="Submit">
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
		const query = window.location.search;
		const urlParams = new URLSearchParams(query);
		document.getElementById("form").action = "/reset-pass?token=" + urlParams.get('token');
    });
</script>

</body>
</html>